@import "tailwindcss";
@import "@/styles/fonts.css";


@theme {
    --color-white: #f8fbf8;
    --color-black: #000000;
    --color-brown: #cea683;
    --color-red: #9c421e;
    --color-orange: #c56937;
    --color-green: #5a694c;

    --font-noto: 'NotoSerifDisplay-Regular';
    --font-bettersaturday: 'BetterSaturday';
    --font-poppins: 'Poppins-ExtraBold';
   
    --spacing-header: min(30px, 5%);

    --transform-scale: scale(1.1);
}

@layer utilities {

    .text-stroke {
      -webkit-text-stroke: 0.7px rgba(0, 0, 0, 0.6);
    }
}

/* DATE EFECT ON LOAD */

@keyframes heartbeat {
    0% { transform: scale(1); }
    30% { transform: scale(1.2); }
    50% { transform: scale(1); }
    70% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.animate-heartbeat {
    opacity: 100%;
    animation: heartbeat 2s;
}


/* DATE + NAMES MOVE */
@keyframes move-hero-up {
    0% { 
        top: 40%;
        transform: translateY(-40%);
        z-index: 3;
    }
    50% { 
        top: 10%;
        transform: translateY(-10%);
        z-index: 1;
    }
    100% {
        top: 30%;
        transform: translateY(-30%);
        z-index: 1;
    }
}

.animate-hero-up {
    animation: move-hero-up 2s forwards;
}

@keyframes move-hero-down {
    0% { 
        top: 80%;
        transform: translateY(-80%);
        z-index: 3;
    }
    100% {
        top: 95%;
        transform: translateY(-95%);
        z-index: 1;
    }
}

.animate-hero-down {
    animation: move-hero-down 2s forwards;
}

 /* NEON */
.neon-text {
    text-shadow:
        0 0 10px #fff,
        0 0 1px #fff,
        0 0 10px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff;
}

/* CARD */
.card {
    cursor: pointer;
    filter: grayscale(50%);
    /* box-shadow: 0px 7px 29px 0px var(--color-black); */
    z-index: 2;
    opacity: 0.9;
    border-radius: 10px;

    transition-property: transform, filter;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.card:hover {
    transform: scaleX(1.05) scaleY(1.3);
    filter: grayscale(0%);
    border:0.7px solid var(--color-black);

    transition-property: transform, filter;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}



@keyframes animate-show-card-base {
    0% { 
        opacity: 1;
        transform: rotate3d(0, 0, 0, 0deg) scaleX(1.05) scaleY(1.3);
    }
    30% { 
        opacity: 0.75;
    }
    50% { 
        opacity: 0.5;
    }
    70% { 
        opacity: 0.25;
    }
    100% {
        opacity: 0;
        transform: rotate3d(-1, 1, 0, 180deg) scaleX(0) scaleY(0);
    }
}

.card.animate-show-card-base {
    transform-style: preserve-3d;
    transform-origin: center;
    animation: animate-show-card-base 1s forwards ease-in-out;
}

@keyframes animate-show-card-popup {
    0% { 
        opacity: 0;
        width: 70vw;
        height: 50vh;
    }
    30% { 
        opacity: 0;
    }
    50% { 
        opacity: 0.25;
    }
    70% { 
        opacity: 0.65;
    }
    100% {
        opacity: 1;
        width: 90vw;
        height: 70vh;
    }
}

.animate-show-card-popup {
    border-radius: 10px;
    /* box-shadow: 0px 7px 29px 0px var(--color-black); */
    border:0.7px solid var(--color-black);
    transform-style: preserve-3d;
    transform-origin: center;
    z-index: 3;
    animation: animate-show-card-popup 1.5s forwards ease-in-out;
}

@keyframes fade-in-content {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.delayed-content {
  opacity: 0;
  animation: fade-in-content 0.5s ease-out forwards;
  animation-delay: 1s; /* esto hace que espere 1s para empezar */
}


#hero{
    height: calc(100vh - 40px);
}


html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
