@import "tailwindcss";
@import "@/styles/fonts.css";


@theme {
    --color-white: #ffffff;
    --color-primary: #cea683;
    --color-secondary: #9c421e;
    --color-tertiary: #c56937;
    --color-quaternary: #5a694c;

    --font-primary: 'AnticDidone', serif;
    --font-secondary: 'BetterSaturday', cursive;
    --font-tertiary: 'NotoSerifDisplay-Regular', serif;
}


html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    background-color: #9c421e;
    margin: 0 auto;
}
