@import "tailwindcss";
@import "@/styles/fonts.css";
@import "@/styles/card.css";
/* @import "@/styles/old-card.css"; */


@theme {
    --color-white-bg: rgba(223, 222, 212, 0.3);
    --color-white: #f8fbf8;
    --color-black: #000000;
    --color-brown: #cea683;
    --color-red: #9c421e;
    --color-orange: #c56937;
    --color-green: #5a694c;

    --font-noto: 'NotoSerifDisplay-Regular';
    --font-bettersaturday: 'BetterSaturday';
    --font-poppins: 'Poppins-ExtraBold';
   
    --spacing-header: min(30px, 5%);

    --transform-scale: scale(1.1);


    --breakpoint-1024: 1024px;
}

@layer utilities {

    .text-stroke {
      -webkit-text-stroke: 0.7px rgba(0, 0, 0, 0.6);
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

/* DATE EFECT ON LOAD */

@keyframes heartbeat {
    0% { transform: scale(1); }
    30% { transform: scale(1.2); }
    50% { transform: scale(1); }
    70% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.animate-heartbeat {
    opacity: 100%;
    animation: heartbeat 2s;
}


/* DATE + NAMES MOVE */
@keyframes move-hero-up {
    0% { 
        bottom: 60%;
        z-index: 3;
    }
    100% {
        bottom: 100%;
        z-index: 1;
        left: 0%;
        transform: translate(50%, 1rem);
        padding-left: calc(var(--spacing) * 8);
    }
}

@keyframes move-hero-up-sm {
    0% { 
        bottom: 60%;
        z-index: 3;
        font-size: 3rem; /* 5xl */
    }
    100% {
        bottom: 100%;
        z-index: 1;
        left: 0%;
        transform: translate(50%, 1rem);
        padding-left: calc(var(--spacing) * 8); 
        font-size: 1.875rem; /* 3xl */
        line-height: 98px;
        
    }
}

@media (max-width: 767px) {  
    .animate-hero-up {
        animation: move-hero-up-sm 2s forwards;
    }
}
@media (min-width: 768px) {  
    .animate-hero-up {
        animation: move-hero-up 2s forwards;
    }
}

@keyframes move-hero-down {
    0% { 
        top: 80%;
        transform: translateY(-80%);
        z-index: 3;
    }
    100% {
        top: 100%;
        transform: translateY(-95%);
        z-index: 1;
    }
}

.animate-hero-down {
    animation: move-hero-down 2s forwards;
}

.bg-tinder{
    background: #5a694c;
    text-shadow:
        0 0 5px #5a694c,
        0 0 10px #5a694c,
        0 0 20px #5a694c,
        0 0 40px #5a694c;
}

 /* NEON */
.neon-text {
    text-shadow:
        0 0 10px #fff,
        0 0 1px #fff,
        0 0 10px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff;
}



#hero{
    height: calc(100dvh - 60px);
}


html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
