---
import { db, Confirmation } from 'astro:db';

const invitados = await db.select().from(Confirmation);
---

<h2>Confirmados</h2>

{
  invitados.map(({ name, plato, confirmation, menu }) => (
    <div>
      <p>Nombre: {name}</p>
      <p>Plato: {plato}</p>
      <p>Confirmado: {confirmation}</p>
      <p> Menu:  {menu} </p>
    </div>
    <span>---------------------------------------</span>
  ))
}