---
import Arrow from '@/assets/images/arrow.svg'
import Hearts from '@/assets/images/hearts.svg'
import HeartArrow from '@/assets/images/heart-arrow.svg'

import { db } from 'astro:db';
import { Confirmation } from 'astro:db';


if (Astro.request.method === 'POST') {
    // Analizar datos de formulario
    const formData = await Astro.request.formData();
    const names = formData.getAll('name[]');
    const menus = formData.getAll('menu[]'); // Nuevo: recogemos los menús

    const platos: string[] = [];
    for (let i = 0; i < names.length; i++) {
        const plato = formData.get(`plato_${i}`);
        platos.push(plato?.toString() ?? 'no especificado');
    }

    const records = names.map((name, i) => ({
        name: name.toString(),
        confirmation: true,
        plato: platos[i],
        menu: menus[i]?.toString() ?? '', // Agrega el campo menu si tu modelo lo acepta
    }));

    await db.insert(Confirmation).values(records);
}

---

<div id="container" class="bg-(--color-white-bg)">
	<main x-data="{ showModal: false }">
        <section id="header" class="w-[100vw] h-[60px] flex justify-between m-auto z-10 top-0 max-w-[1440px] pr-8 pl-8 box-border">
            <div class="heart-montaje flex justify-center align-center relative opacity-[0.7] w-auto h-[40px] text-transparent mt-8">
                <Arrow class="rotate-[-90deg] relative" width={40} height={40}/>
                <Hearts class="heart absolute h-[40px]" width={40} height={40}/>
                <Arrow class="rotate-[90deg] relative" width={40} height={40}/>
            </div>
            <button 
                @click="showModal = true" 
                class="font-(family-name:--font-noto) 
                b-confirma 
                border-[var(--color-green)] border-[0.7px]
                flex justify-center items-center py-2 px-4 rounded-full h-[30px] w-[100px] md:h-[40px] md:w-[140px cursor-pointer mt-[1rem]">
                Confirma
            </button>       
        </section>
        <section id="hero" 
        class="max-w-[1440px] relative h-screen flex flex-col justify-center items-center gap-4 md:gap-10 m-auto pr-8 pl-8 box-border md:flex-nowrap md:flex-row"
        x-data="{ activeId: null }"
        >

            <!-- LUGAR -->
            <div 
                class="card z-2 opacity-85 bg-[var(--color-brown)] flex justify-center items-center relative 
                    max-h-[70vh] h-full rounded-lg w-full transition-all duration-300 cursor-pointer p-2"
                :class="activeId === 'lugar' ? 'flex-3' : 'flex-1'"
                @click="activeId = 'lugar'"
                @mouseenter="activeId = 'lugar'"
                @mouseleave="activeId = null"
            >
                <p class="font-(family-name:--font-bettersaturday) text-white text-3xl md:text-5xl xl:text-6xl"
                :class="{ 'neon-text': activeId === 'lugar' }">
                Lugar
                </p>
                <div class="opacity-0 transition-all duration-400 bg-white/30 backdrop-blur-md rounded-lg
                            flex justify-center items-center flex-col gap-y-50 absolute w-full h-full top-0 left-0 p-6"
                    :class="{ 'opacity-100': activeId === 'lugar' }">
                <div class="w-full h-full flex justify-center items-center flex-col gap-y-10">
                    <p class="text-white font-(family-name:--font-noto) text-center text-4xl xl:text-5xl">Masia "El Xaloc"</p>
                    <a href="https://maps.app.goo.gl/D723XZKGkBAtSMuVA" target="_blank" class="font-(family-name:--font-noto) text-center text-1xl xl:text-3xl hover:underline">
                    Ctra. Manresa - Vic, Km. 11, 08275 Calders, Barcelona
                    </a>
                </div>
                </div>
            </div>

            <!-- HORARIO -->
            <div 
                class="card z-2 opacity-85 bg-[var(--color-red)] flex justify-center items-center relative 
                    max-h-[70vh] h-full rounded-lg w-full md:w-[33%] transition-all duration-300 cursor-pointer p-2"
                :class="activeId === 'horario' ? 'flex-3' : 'flex-1'"
                @click="activeId = 'horario'"
                @mouseenter="activeId = 'horario'"
                @mouseleave="activeId = null"
            >
                <p class="font-(family-name:--font-bettersaturday) text-white text-3xl md:text-5xl xl:text-6xl"
                :class="{ 'neon-text': activeId === 'horario' }">
                Horario
                </p>
                <div class="opacity-0 transition-all duration-400 bg-white/30 backdrop-blur-md rounded-lg
                            flex justify-center items-center flex-col absolute w-full h-full top-0 left-0 p-6"
                    :class="{ 'opacity-100': activeId === 'horario' }">
                    <div class="w-full h-full flex flex-col justify-evenly items-center sm:overflow-y-auto no-scrollbar">
                        <div class="flex justify-between items-center flex-col gap-y-2 xl:gap-y-4">
                            <span class="font-(family-name:--font-noto) text-1xl sm:text-2xl">15:30h</span>
                            <span class="font-(family-name:--font-bettersaturday) text-2xl sm:text-3xl">Bienvenida</span>
                        </div>
                        <HeartArrow width="60" height="60" class="lg:m-4 xl:m-6"/>
                        <!-- Horario Content -->
                        <div class="flex justify-between items-center flex-col gap-y-2 xl:gap-y-4">
                            <span class="font-(family-name:--font-noto) text-1xl sm:text-2xl">16:00h</span>
                            <span class="font-(family-name:--font-bettersaturday) text-2xl sm:text-3xl">Ceremonia</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- COUNTDOWN -->
            <div 
                class="card z-2 opacity-85 bg-[var(--color-orange)] flex flex-col justify-center items-center relative 
                    max-h-[70vh] h-full rounded-lg w-full md:w-[33%] transition-all duration-300 cursor-pointer p-2"
                :class="activeId === 'countdown' ? 'flex-3' : 'flex-1'"
                @click="activeId = 'countdown'"
                @mouseenter="activeId = 'countdown'"
                @mouseleave="activeId = null"
            >
                <div class="text-white font-(family-name:--font-noto) text-2xl 1024:text-3xl xl:text-4xl text-center mt-4">
                    <a target="_blank" href="https://open.spotify.com/playlist/00rv8y07DyGze2WR953MVL?si=TlwYOpLnTtmyHK4KciNE-w&pi=jI4qZEByRO6n7&pt=d8e0169c38a9f1c33b315480903e5037">
                        Spotify
                    </a>
                </div>
                <div class="font-(family-name:--font-noto) text-white text-2xl 1024:text-4xl xl:text-5xl text-center"
                    :class="{ 'neon-text': activeId === 'countdown' }">
                    <div class="flex flex-wrap justify-center gap-2 xl:gap-4">
                        <div><span id="days">--</span> días</div>
                        <div><span id="hours">--</span> h</div>
                        <div><span id="minutes">--</span> m</div>
                    </div>
                </div>
                
            </div>


            <!-- DATE -->
            <h1 class="font-medium
                text-[3rem] md:text-6xl xl:text-7xl md:h-[4.4rem] xl:h-[4.6rem]
                bg-clip-text text-transparent bg-[url('/images/background.webp')] bg-contain text-stroke 
                opacity-0 transition-opacity duration-2000 z-3 delay-200 
                font-(family-name:--font-noto)
                h-auto m-auto w-max  box-content
                absolute text-center bottom-[60%] left-[50%] translate-x-[-50%]" 
                x-data="{ heroMoveUp: false }" 
                x-intersect="$el.classList.add('animate-heartbeat')"
                x-init="setTimeout(() => heroMoveUp = true, 2000)"
                :class="{ 'animate-hero-up': heroMoveUp }">
                01 - 11 - 2025 
            </h1>
            <!-- NAMES -->
            <div class="opacity-0 transition-opacity duration-2000 z-2 delay-300 
                font-(family-name:--font-bettersaturday) 
                text-2xl md:text-3xl xl:text-4xl
                w-[90vw] h-auto m-auto
                absolute text-center top-[80%] left-[50%] translate-x-[-50%] translate-y-[-80%]" 
                x-data="{ heroMoveDown: false }"  
                x-intersect="$el.classList.add('opacity-100')"
                x-init="setTimeout(() => heroMoveDown = true, 1500)"
                :class="{ 'animate-hero-down': heroMoveDown }"
                >
                Alba y Cristian
            </div>
        </section>

        <!-- Modal con Alpine.js -->
        <div 
            x-show="showModal" 
            x-transition 
            class="fixed inset-0 flex justify-center items-center z-50"
            style="display: none;"
        >
            <div class="absolute inset-0 bg-(--color-green) opacity-90" >  </div>
            <div 
                class="bg-white opacity-100 p-8 rounded-lg w-[80vw] sm:w-[50vw] max-h-[70vh] sm:max-h-[85vh] space-y-4 shadow-xl relative overflow-y-auto no-scrollbar"
                @click.outside="showModal = false"
            >
                <form id="confirmForm" class="space-y-4 font-noto overflow-y-auto no-scrollbar" method="POST">
                    <div id="personContainer" class="space-y-6">
                        <!-- Persona individual -->
                        <div class="person space-y-3">
                            <!-- Nombre -->
                            <div class="w-full">
                                <div class="relative">
                                    <label
                                        class="cursor-text bg-white px-1 left-2.5 top-2.5 text-black text-sm transition-all transform origin-left peer-focus:-top-2 peer-focus:left-2.5 peer-focus:text-xs peer-focus:text-black peer-focus:scale-90"
                                    >
                                        Nombre
                                    </label>
                                    <input
                                        type="text"
                                        name="name[]"
                                        required
                                        class="peer w-full bg-transparent placeholder:text-black text-black text-sm border border-black rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-black hover:border-neutral-800 shadow-sm focus:shadow"
                                    />
                                </div>
                            </div>

                            <!-- Plato -->
                            <div class="space-y-2">
                                <p class="text-sm font-medium text-black">
                                Elige el plato principal:
                                </p>
                                <div class="flex flex-col md:flex-row gap-6">
                                    <label class="flex items-center gap-2 text-black">
                                        <input type="radio" name="plato_0" value="carne" required class="accent-blue-600" />
                                        Carne
                                    </label>
                                    <label class="flex items-center gap-2 text-black">
                                        <input type="radio" name="plato_0" value="pescado" class="accent-blue-600" />
                                        Pescado
                                    </label>
                                    <label class="flex items-center gap-2 text-black">
                                        <input type="radio" name="plato_0" value="infantil" class="accent-blue-600" />
                                        Menú infantil
                                    </label>
                                </div>
                            </div>

                            <!-- Menú -->
                            <div class="w-full">
                                <div class="relative">
                                    <label
                                        class="cursor-text bg-white px-1 left-2.5 top-2.5 text-black text-sm transition-all transform origin-left peer-focus:-top-2 peer-focus:left-2.5 peer-focus:text-xs peer-focus:text-black peer-focus:scale-90"
                                    >
                                        Algo a tener en cuenta en tu menú (vegetariano, alergias, etc.)
                                    </label>
                                    <textarea
                                        name="menu[]"
                                        class="peer w-full bg-transparent placeholder:text-black text-black text-sm border border-black rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-black hover:border-neutral-800 shadow-sm focus:shadow"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Botón para añadir más personas -->
                    <button
                    type="button"
                    id="addPersonBtn"
                    class="text-sm px-3 py-1 bg-(--color-green) text-white rounded"
                    >
                    Añadir persona
                    </button>

                    <!-- Botones -->
                    <div class="flex justify-end gap-2 mt-4">
                        <button
                        type="submit"
                        class="text-sm px-3 py-1 border border-black text-black rounded"
                        >
                        Confirmar
                        </button>
                    </div>
                </form>
                <!-- Script para el cliente -->
                <script is:client>
                    let personCount = 1;

                    document.getElementById("addPersonBtn").addEventListener("click", () => {
                    const container = document.getElementById("personContainer");
                    const template = container.querySelector(".person");
                    const clone = template.cloneNode(true);

                    const inputs = clone.querySelectorAll("input");
                    inputs.forEach((input) => {
                        if (input.type === "text") input.value = "";
                        if (input.type === "radio") {
                            input.checked = false;
                            input.name = `plato_${personCount}`;
                        }
                    });

                    const textarea = clone.querySelector("textarea");
                    textarea.value = "";


                    container.appendChild(clone);
                    personCount++;
                    });
                </script>
            </div>
        </div>
        <script is:inline>

            const targetDate = new Date("2025-11-01T15:30:00").getTime();

            function updateCountdown() {
                console.log("Updating countdown..."); // Debugging line
                // Get today's date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = targetDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                console.log("Countdown values:", { days, hours, minutes, seconds }); // Debugging line

                document.getElementById('days').textContent = days;
                document.getElementById('hours').textContent = hours.toString().padStart(2, '0');
                document.getElementById('minutes').textContent = minutes.toString().padStart(2, '0');
                //document.getElementById('seconds').textContent = seconds.toString().padStart(2, '0');
            }
            console.log("Countdown initialized with target date:", targetDate); // Debugging line
            updateCountdown();
            const interval = setInterval(updateCountdown, 1000);
        </script>
    </main>
</div>