<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/heart-solid.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Save the date!</title>

		<meta property="og:title" content="Save the Date - Alba y Cristian" />
		<meta property="og:image" content="http://matchpatolavida.com/ShareIMG.png" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		max-width: 1440px;
		background-color: #9c421e;
		margin: 0 auto;
	}
</style>
